</div>
</main>
</div>

<script src="/js/main.js"></script>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/charts.js"></script>
<script src="/js/notifications.js"></script>
</body>

</html>